@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin : 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: rgb(239, 239, 239);
  height: 100%;
}

body {
  background-image: url("ghprbg.png");
  background-repeat: no-repeat;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

sup {
  font-weight: 400;
  font-size: .4em;
}

.index-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
  padding: 60px 15px 0px 15px;
}

.index-header h2 {
  font-size: 2em;
}

.index-header p {
  font-weight: 400;
  color: grey;
}

.icon {
  height: 16px;
  filter: invert(18%);
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 4rem;
}

.radio-input {
  margin-right: 10px; 
}

.radio-wrapper {
  display: flex;
  flex-direction: column;
}

.radio-btn-wrapper {
  background-color: #1b1b1b;
  border-radius: 37px;
  padding: 8px 18px 8px 18px;
}

.radio-header {
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 6px;
}

.label {
  font-size: 13px;
}


.repo-search {
  height: 35px;
  width: 294.69px;
  border-radius: 37px;
}

.maint-search {
  height: 35px;
  width: 294.69px;
  border-radius: 37px;
}

input::placeholder {
  font-family: 'Coda', cursive;
  font-size: 14px;
  color: #a7a7a7;
  padding-left: 5px;
}

input[type=text] {
  font-family: 'Coda', cursive;
  box-sizing: border-box;
  border: 1px solid #000000;
  background-color: white;
  padding-left: 15px;
  font-size: 14px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
}

input[type=radio] {
  appearance: none;
  background-color: transparent;
  width: 1.1em;
  height: 1.1em;
  border: .1em solid rgb(244, 244, 244);
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  transform: translateY(0.175em);
}

input[type=radio]:checked {
  box-shadow: inset 1em 1em #635bdf;
}


.input-desc {
  color: #c2c2c2;
  text-align: center;
  margin-top: .7rem;
  font-style: italic;
  font-size: .8rem;
}

.input-headers {
  align-self: flex-start;
  padding-left: 20px;
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 6px;
}

.submit-btn {
  height: 35px;
  width: 140px; 
  margin-top: 40px;
  border-radius: 10px;
  background-color: rgb(83, 154, 230);
  background-image: linear-gradient(to right, #8d85ad , #635bdf);
  border-color: white;
  color: white;
  font-size: 1rem;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;
}

.submit-btn:active {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.git-logo {
  width: 40px;
  height: 40px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  all: unset;
  align-self: center;
  color:#dedede;
  padding-bottom: 40px;
  font-weight: 400;
}

#spin-desc {
  font-size: 14px;
  display: unset;
  margin-top: 50px;
  line-height: 12px;
  color: #d1d1d1;
}

@media screen and (min-width: 498px) {
  .index-header {
    padding-left: 6em;  
    margin-bottom: 60px;
  }

  .index-header h2 {
    font-size: 3em;
  }
  
  .index-header h4 {
    font-size: 1.3em;
  }
  
  .index-header p {

    font-size: 1.3em;
    max-width: 800px;
  }
  
  .footer button {
    color: rgb(29, 29, 29);
  }
}

@media screen and (min-width: 1300px) {
  .index-header h2 {
    font-size: 5em;
  }
  
  body {
    background-size: cover;
  }
  
  .index-header p {
    font-size: 1.5em;
    max-width: 1112px;
  }
}

@media screen and (min-width: 1800px) {
  .index-header {
    padding-left: 10em;
    margin-bottom: 100px;
  }
}
