body {
  background-image: linear-gradient(to bottom, #000000 0%, #3b3b3b 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image {
  background-image: url('./githublogot.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  height: 100vh;
}

.avg-days {
  background-color: #060606;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 350px;
  height: 200px;
  margin-top: 40px;
  border-radius: 10px;
}

.avg-main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avg-days img {
  margin-left: 10%;
  margin-top: 5%;
  height: 70px;
  width: 70px;
}

.avg-value {
  margin-top: 15%;
  font-size: 2.5rem;
  padding-left: 4%;
}

.avg-desc {
  margin-top: 15%;
  font-size: 2.5rem;
  padding-left: 3%;
}

.avg-info {
  margin-top: 20px;
  font-size: .9rem;
  color: #a5a5a5;
}

.open-stats {
  align-items: center;
  height: 340px;
  margin-bottom: 60px;
}

.open-header {
  text-align: left;
  margin-top: 50px;
  line-height: 15px;
  margin-right: 18%;
}

.open-header h4 {
  font-size: 1.5em;
}

.circles {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-top: 40px;
  width: 85%;
  margin-left: 5%;
}
.big-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  min-width: 120px;
  margin-top: 25px;
}

.big-circle p {
  color: #1d1d1d;
  text-align: center;
  font-size: .8rem;
}

.big-circle h3 {
  color: #1d1d1d;
  font-size: 2.5rem;
}

.med-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aquamarine;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  outline: 10px solid #060606;
}

.med-circle p {
  color: #1d1d1d;
  text-align: center;
  font-size: .8rem;
}

.med-circle h3 {
  color: #1d1d1d;
  font-size: 1rem;
}

.sm-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(94, 94, 182); 
  border-radius: 50%;
  height: 80px;
  width: 80px;
  margin-top: 40px;
  outline: 10px solid #060606;
}

.sm-circle p {
  color: #060606;
  text-align: center;
  font-size: .7rem;
}

.sm-circle h3 {
  color: #060606;
  font-size: .8rem;
}

.maintainers {
  height: fit-content;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

.maintainers h4 {
  font-size: 1.5em;
  margin-top: 40px;
}

.maint-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  margin-top: 30px;
}

.maint-one {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 40px;
  width: 80%;
  margin-bottom: 10px;
}

.maint-one img {
  border-radius: 50%;
  margin: 0;
  margin-right: 10px;
  height: 35px;
  width: 35px;
}

.maint-one h3 {
  font-size: 1rem;
}

.auth-avg {
  height: 350px;
  margin-bottom: 70px;
  padding-bottom: 30px;
}

.auth-avg h3 {
  font-size: 1.5rem;
  margin-top: 40px;
  align-self: flex-start;
  margin-left: 13%;
}

.auth-perc-wrap {
  display: flex;
}

.percs-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 35%;
}

.authors {
  display: flex;
  margin-bottom: 20px;
}

.authors span {
  margin-left: 5px;
  text-align: left;
}

.key-one {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: aquamarine;
}

.key-two {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #5e5eb6;
}

.progress-circle {
  transform: rotate(-90deg);
  margin-top: 40px;
  margin-left: 20px;
}

.progress-circle-back {
	fill: none; 
	stroke: #5e5eb6;
	stroke-width: 30px;
}

.progress-circle-front {
	fill: none; 
	stroke: aquamarine;
	stroke-width: 30px;  
	stroke-dasharray: 0 999;    
	stroke-dashoffset: 0px;
}

.freq-graph {
  height: 350px;
  margin-bottom: 100px;
  padding-bottom: 30px;
  margin-top: 0;
}

.freq-graph h3 {
  font-size: 1.5rem;
  margin-top: 40px;
  align-self: flex-start;
  margin-left: 13%;
  margin-bottom: 5px;
}

.freq-graph p {
  align-self: flex-start;
  margin-left: 13%;
  font-size: .9rem;
  margin-bottom: 5px;
}

.freq-dates {
  color: grey;
  font-style: italic;
}

.gb-graph {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 110%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.gb-graph hr {
  border: none;
  border-top: 3px dotted rgb(114, 114, 114);
  color: #fff;
  height: 35px;
}

.data-point {
  position: absolute;
  width: 20px;
  background-color: rgb(80, 80, 202); 
  bottom: 31px;
  border-radius: 5px;
  line-height: 30px;
}

.data-point p {
  position: absolute;
  bottom: -40px;
  color:rgb(114, 114, 114);
}

.data-point p:first-child {
  bottom: -5px;
  color: #060606;
}
