.lds-grid {
  display: inline-block;
  position: relative;
  width: 152px;
  height: 152px;
  margin-top: 100px;
}
.lds-grid div {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(65, 159, 185);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 0px;
  left: 0px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 0px;
  left: 56px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 0px;
  left: 112px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 56px;
  left: 0px;
  animation-delay: -0.3s;
}
.lds-grid div:nth-child(5) {
  top: 56px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 56px;
  left: 112px;
  animation-delay: -1.3s;
}
.lds-grid div:nth-child(7) {
  top: 112px;
  left: 0px;
  animation-delay: -0.5s;
}
.lds-grid div:nth-child(8) {
  top: 112px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 112px;
  left: 112px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
}
